@font-face {
    font-family: Play;
    src: url("Fonts/Play/Play-Regular.ttf");
}

* {
    font-family: Play;
    font-size: 16px;
}

body {
    height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control {
    display: flex;
    gap: 10px;
    height: 35px;
    margin: 10px 0px 0px;
    box-sizing: border-box;
}

#creator p {
    display: flex;
    align-items: center;
}

#creator input {
    width: 50px;
    text-align: center;
}

#controls {
    display: flex;
    flex-direction: column;
}

#links {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-self: baseline;
}

#numberBoxes {
    box-sizing: border-box;
    margin: 10px 0px;
    height: auto;

    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#numberBoxes div {
    background-color: rgb(227, 227, 227);
    border-radius: 5px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 45px;
}