@font-face {
    font-family: Play;
    src: url("Fonts/Play/Play-Regular.ttf");
}

* {
    font-family: Play;
    font-size: 16px;
}

body {
    height: 100vh;
}

nav {
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control {
    display: flex;
    gap: 10px;
    height: 35px;
    margin: 10px;
}

#creator p {
    display: flex;
    align-items: center;
}

#creator input {
    width: 50px;
    text-align: center;
}