#NewRandomNumber,
#RemoveNumber {
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#NewRandomNumber {
    width: 75px;

}

#RemoveNumber {
    width: 275px;
}